<div class="page-container page-work">
    <div class="panel-info">
        <div class="cat-name">定时任务状态</div>
        <ng-sm-button class="upload-btn"
                      icon="&#xe682;"
                      (btnClick)="handleGetList($event)">
            刷新
        </ng-sm-button>
    </div>

    <div class="list-container">
        <ng-sm-table-shown-list
            width="958"
            [operations]="listOperations"
            [format]="listFormat"
            [dataList]="scheduleList"
            (op)="onOperation($event)"
        ></ng-sm-table-shown-list>
    </div>
</div>
